body {
	margin: 0;
	background-color: rgb(20,35,40);
	color: rgb(230,180,190);
}
a:visited {
	color: rgb(230,180,190);
}
.container {
	display: inline-block;
	position: absolute;
	top: 150px;
	left: 10%;
}

.container img {
	width: 300px;
	max-width: 40%;
	height: auto;
	margin: 5px;
}
.center {
	position: absolute;
	top: 20px;
	left: 30%;
}